.statistics
{
    flex-grow: 1;
    &__list{
        list-style-type: none;
    }
    &__container{
        margin-top:20px;
    }
    &__text{
        font-size: 1.2rem;
        &--important{
            font-weight: 600;
        }
    }
    &__item{
        padding: 10px;
        border-bottom: 2px solid var(--secondary-color);
        &:nth-child(even)
        {
            background-color: var(--extra-color);
        }
    }
}